<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{>links}}
    <title>{{title}}</title>
</head>

<body>
    <div class="main">
        <section class="heading">
            <h1>Welcome to Home</h1>
        </section>

        <section class="header b-b m-b-15px b-b txt-center">
            {{>navbar}}
        </section>

        <section class="body">
            <p>This is body of home page</p>
        </section>

        <section class="footer b-b">
            {{>footer}}
        </section>
    </div>

    
</body>

</html>